.product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product .inner {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img:nth-child(1) {
  align-self: flex-end;
}

img:nth-child(2) {
  margin-top: -15px;
  margin-bottom: -15px;
  align-self: flex-start;
}

img:nth-child(3) {
  align-self: flex-end;
}

img {
  max-width: 220px;
  height: 220px;
  border: 10px solid #f5f5f5;
  box-shadow: 0px 0px 0px 3px black, 3px 3px 7px;
}
