.waveReverse,
.wave {
  height: 150px;
  overflow: hidden;
  filter: drop-shadow(2px 2px 0px #7e3688);
}

.waveReverse {
  filter: drop-shadow(2px 2px 0px var(--color-background));
}

.waveReverse img,
.wave img {
  width: 100%;
}
