.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 15px;
}
.title {
  color: var(--color-darkA);
  font-family: var(--font-cafe24surround);
  font-size: 30px;
  text-decoration: none;
  line-height: 45px;
  margin-bottom: 30px;
}

.description {
  margin-bottom: 12px;
  font-family: var(--font-notosans);
}

.linkButton {
  padding: 15px 20px;
  font-size: 13px;
  letter-spacing: 0.3px;
  background-color: var(--color-button);
  font-weight: bolder;
  text-decoration: none;
  color: black;
  margin-top: 10px;
  display: flex;
  text-align: left;
  border: 1px solid #333;
  width: fit-content;
  transition: background-color 150ms;
  justify-content: center;
  align-items: center;
}

.logo {
  display: inline-block;
  object-fit: contain;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 100%;
}

.logo svg {
  width: 100%;
  height: 100%;
}
