body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "gccJalnan2";
  src: url(./assets/fonts/Jalnan2/Jalnan2TTF.ttf);
}

@font-face {
  font-family: "cafe24surround";
  src: url(./assets/fonts/Cafe24Ssurround-v2.0/Cafe24Ssurround-v2.0.ttf);
}

@font-face {
  font-family: "notosans";
  src: url(./assets/fonts/Noto_Sans_KR/NotoSansKR-VariableFont_wght.ttf);
}

:root {
  /* Color */
  --color-background: var(--color-purple4);

  --color-text-header: var(--color-white);
  --color-text-shadow: var(--color-purple3);
  --color-text-capital: var(--color-yellow);
  --color-text-X: var(--color-orange);
  --color-text-body-title: var(--color-darkA);

  --color-purple1: #d3cce3;
  --color-purple2: #e9e4f0;
  --color-purple3: #8239e7;
  --color-purple4: #ad7def;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-yellow: #fcd53f;
  --color-orange: #fc6d00;
  --color-darkA: rgb(12 24 64);

  --color-coupang: #03aaf8;

  /* Font */
  --font-gccJalnan2: "gccJalnan2";
  --font-cafe24surround: "cafe24surround";
  --font-notosans: "notosans";
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
p {
  padding: 0px;
  margin: 0px;
}
